<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
      <section name="redisCacheClient" type="StackExchange.Redis.Extensions.Core.Configuration.RedisCachingSectionHandler, StackExchange.Redis.Extensions.Core" />
    </configSections>

    <!--redis配置-->
    <redisCacheClient allowAdmin="true" ssl="false" connectTimeout="5000" database="0" password="">
      <hosts>
        <add host="127.0.0.1" cachePort="6379" />
      </hosts>
    </redisCacheClient>
  
    <appSettings>


      <add key="owin:AutomaticAppStartup" value="false" />
      <add key="SqlConnection" value="Server=.;Initial Catalog=LayIM;User ID=sa;Password=123456" />
      <add key="SeqSinkServerAddress" value="http://localhost:5341" />
      <add key="BaseQueueName" value="AppChat" />
      <add key="RabbitMqBaseUri" value="rabbitmq://localhost/" />
      <add key="RabbitMqUserName" value="appchat" />
      <add key="RabbitMqUserPassword" value="123456" />

      <!--Release-->
      <!--<add key="TransportType" value="RabbitMq" />
      <add key="BaseQueueName" value="ticketing" />
      <add key="RabbitMqBaseUri" value="rabbitmq://172.16.11.143/" />
      <add key="RabbitMqUserName" value="ticket" />
      <add key="RabbitMqUserPassword" value="ticket" />
      <add key="RabbitMqIdentityHeaderKey" value="IdentityKey" />
      <add key="SeqSinkServerAddress" value="http://172.16.11.151:5341" />
      <add key="TicketingConnectionString" value="Data Source=172.16.11.151;Initial Catalog=TicketingSystem;Persist Security Info=True;User ID=sa;Password=LpW6JjSD;MultipleActiveResultSets=True" />
      <add key="AttachmentBasePath" value="E:\TicketSystemUpload\\" />-->

    </appSettings>

    <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="4.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0"  newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0"  newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NewId" publicKeyToken="b8e0e9f2f1e657fa" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.3.0"  newVersion="2.1.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>